<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant_category.name %>
</p>

<%= link_to 'Edit', edit_plant_category_path(@plant_category) %> |
<%= link_to 'Back', plant_categories_path %>
